<!DOCTYPE html>
<html lang="en">
    <head>
        <% include partial/head %>
    </head>
    <body>
        <% include partial/header %>
        <h4>Payment unsuccessful. Please try again in <a href="cart">cart</a></h4>
    </body>
</html>