<!DOCTYPE html>
<html lang="en">
    <head>
        <% include partial/head %>
    </head>
    <body>
        <% include partial/header %>
        <% include partial/header-menu %>
        <h4>Payment successful. Proceed to Schedule</h4>
    </body>
</html>