<!--================Top Header Area =================-->
<!-- <div class="header_top_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="top_header_left">
                    <div class="selector">
                        <select class="language_drop" name="countries" id="countries" style="width:300px;">
                            <option value='yt' data-image="img/icon/flag-1.png" data-imagecss="flag yt" data-title="English">English</option>
                            <option value='yu' data-image="img/icon/flag-1.png" data-imagecss="flag yu" data-title="Bangladesh">Bangla</option>
                            <option value='yt' data-image="img/icon/flag-1.png" data-imagecss="flag yt" data-title="English">English</option>
                            <option value='yu' data-image="img/icon/flag-1.png" data-imagecss="flag yu" data-title="Bangladesh">Bangla</option>
                        </select>
                    </div>
                    <select class="selectpicker usd_select">
                        <option>USD</option>
                        <option>$</option>
                        <option>$</option>
                    </select>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search" aria-label="Search">
                        <span class="input-group-btn">
                            <button class="btn btn-secondary" type="button">
                                <i class="icon-magnifier"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="top_header_middle">
                    <a href="#">
                        <i class="fa fa-phone"></i> Call Us:
                        <span>+65 9380 2555</span>
                    </a>
                    <a href="#">
                        <i class="fa fa-envelope"></i> Email:
                        <span>zhenghan@support.com</span>
                    </a>
                    <img width="200px" src="/img/epetlogo.png" alt="">
                </div>
            </div>
            <div class="col-lg-3">
                <div class="top_right_header">
                    <ul class="header_social">
                        <li>
                            <a href="#">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-pinterest"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-youtube-play"></i>
                            </a>
                        </li>
                    </ul>
                    <ul class="top_right">
                        <%% if (login) {%>
                            <li class="user">
                                <a href="#">
                                    <i class="icon-user icons"></i>
                                </a>
                            </li>
                            <li class="cart">
                                <a href="#">
                                    <i class="icon-handbag icons"></i>
                                </a>
                            </li>
                            <li class="h_price">
                                <select class="selectpicker">
                                    <option>$0.00</option>
                                    <option>$0.00</option>
                                    <option>$0.00</option>
                                </select>
                            </li>
                            <li>
                                <a href="/logout" class="btn btn-default">Logout</a>
                            </li>
                            <%% } else { %>
                                <li>
                                    <a href="/login">
                                        <span style="font-size: 16px;">Login/Register</span>
                                    </a>
                                </li>
                                <%% } %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!--================End Top Header Area =================-->

<header class="shop_header_area carousel_menu_area">
    <div class="carousel_top_header row m0">
        <div class="container">
            <div class="carousel_top_h_inner">
                <!-- <div class="float-md-left">
                        <div class="top_header_left">
                            <div class="selector">
                                <select class="language_drop" name="countries" id="countries" style="width:300px;">
                                  <option value='yt' data-image="img/icon/flag-1.png" data-imagecss="flag yt" data-title="English">English</option>
                                  <option value='yu' data-image="img/icon/flag-1.png" data-imagecss="flag yu" data-title="Bangladesh">Bangla</option>
                                  <option value='yt' data-image="img/icon/flag-1.png" data-imagecss="flag yt" data-title="English">English</option>
                                  <option value='yu' data-image="img/icon/flag-1.png" data-imagecss="flag yu" data-title="Bangladesh">Bangla</option>
                                </select>
                            </div>
                            <select class="selectpicker usd_select">
                                <option>USD</option>
                                <option>$</option>
                                <option>$</option>
                            </select>
                        </div>
                    </div> -->
                <div class="float-md-left">
                    <div class="top_header_left">
                            Welcome, 
                            <span class="font-weight-light font-italic">
                                <% if (login == 0) { %>
                                <span>Guest</span>
                                <% } else { %>
                                <%= username %>
                                <% } %>
                            </span>.
                    </div>
                </div>
                <div class="float-md-right">
                    <div class="top_header_middle">
                        <a href="#">
                            <i class="fa fa-phone"></i> Call Us:
                            <span>+65 8469 1353</span>
                        </a>
                        <a href="#">
                            <i class="fa fa-envelope"></i> Email:
                            <span>zhenghan@support.com</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="carousel_menu_inner">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light" style="border-bottom: 2px solid #d91522;">
                <a class="navbar-brand" href="/">
                    <img style="width: 140px;" src="/img/epetlogo-v2.png" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>

                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown submenu">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Items
                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a class="nav-link" href="/items/cats">Cats</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/items/dogs">Dogs</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown submenu">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Services
                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a class="nav-link" href="/services/cats">Cats</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="services/dogs">Dogs</a>
                                </li>
                            </ul>
                        </li>
                        <% if (login) { %>
                        <li class="nav-item dropdown submenu">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    My Listings
                                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a class="nav-link" href="/itemlisted">Items Listing</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/servicelisted">Service Listing</a>
                                    </li>
                                </ul>
                            </li>
                            <% } else { %>
                               
                            <% } %>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact">Support</a>
                        </li>
                         
                    </ul>
                    <ul class="navbar-nav justify-content-end">
                            <!-- <li class="search_icon">
                                <input type="text"  class="" id="search" name= "search" aria-describedby="search" placeholder="Search..">
                                <a href="/:search"> 
                                    <i class="icon-magnifier icons"></i>
                                </a>
                            </li> -->
                        <% if (login == 1 || login == 2) { %>
                            <% if (login == 1) { %>
                           
                            <li class="user_icon">
                                <a href="/profile">
                                    <i class="icon-user icons"></i>
                                </a>
                            </li>
                            <li class="cart_cart">
                                <a href="/transactions">
                                    <i class="icon-handbag icons"></i>
                                </a>
                            </li>
                            <% } else if (login == 2) {%>
                            <li>
                                <a href="/admin">
                                    <span style="font-size: 16px;">Admin Page</span>
                                </a>
                            </li>
                            <% } %>
                            <li>
                                <a href="/logout">
                                    <span style="font-size: 16px;">Logout</span>
                                </a>
                            </li>
                        <% } else { %>
                            <li>
                                <a href="/login">
                                    <span style="font-size: 16px;">Login</span>
                                </a>
                            </li>
                            <li>
                                <a href="/signup">
                                    <span style="font-size: 16px;">Signup</span>
                                </a>
                            </li>
                        <% } %>
                    </ul>
                    <form action="/search" style="display:block;">
                    <input type="text" style="width:140px; margin-left: 8px;" id="search" name="search" aria-describedby="search" placeholder="Search..">
                    <input type="submit" value="Go"/>
                    </form>
                </div>
            </nav>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            var value = $('.cart_cart a').before();
        });
        
        function searchForTransaction() {
                    var search = $("#search").val();
                   
                    var sortBy = $("#sortBy").val();

                    var criteria = {
                        search: search,
                        sortBy: sortBy
                    }

                    sendAjax(criteria);
                }

                function sendAjax(searchCriteria) {
                    $.ajax({
                        url: "http://localhost:3000/products/search",
                        type: 'POST',
                        data: JSON.stringify(searchCriteria),
                        dataType: "json",
                        contentType: "application/json",
                        success: function (result) {
                            // display the reply from server under the timer, maximum 10 lines
                            var node = $("#viewSearch");
                            var html;
                            if (result.length != 0) {
                                for (var i=0; i < result.length; i++ ) {
                                    html += `<tr>
                                                <th scope="row">
                                                </th>
                                                <td>` + result[i].ItemName || result[i].servicetitle + `</td>
                                                <td>Price: ` + result[i].price || result[i].serviceprice + `</td>
                                                <td>user: ` + result[i].username + `</td>
                                            
                                                <td><a href="/transactions/`+ result[i].transactionId +`">GO</a></td>
                                            </tr>`;
                                    }
                            }
                            else {
                                html = '<div class="jumbotron">No results matches the criteria</div>'
                            }
                            node.html(html);
                        },
                        error: function (error) {
                            alert("Unable to send message.");
                            console.log(error);
                        }
                    })
                }

                //  $('.searching').click(function () {
                //         var searchh = document.getElementById("search").value;
                //         var searchconfirm = searchh.replace(/[&\/\\#,+()$~%.'":*?<>{}]/g, '');
                //         location.href = "/listing/search/" + searchconfirm;

                //     });

    </script>
    
</header>